<section class="section section-search">
    <div class="container-fluid">
        <div class="banner-wrapper">
            <div class="banner-header text-center">
{#                <h1 style="letter-spacing: 2.5px; color: orange">GLOBAL HEALTH SOLUTION - (GHS)</h1>#}
{#                <p>Votre Solution de Santé à moindre coût pour l'Afrique, conçue par des Africains</p>#}
            </div>

            <!-- Search -->
            <div class="search-box">
{#                <form action="templateshub.net">#}
{#                    <div class="form-group search-location">#}
{#                        <input type="text" class="form-control" placeholder="Search Location">#}
{#                        <span class="form-text">Based on your Location</span>#}
{#                    </div>#}
{#                    <div class="form-group search-info">#}
{#                        <input type="text" class="form-control" placeholder="Search Doctors, Clinics, Hospitals, Diseases Etc">#}
{#                        <span class="form-text">Ex : Dental or Sugar Check up etc</span>#}
{#                    </div>#}
{#                    <button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Search</span></button>#}
{#                </form>#}
            </div>
            <!-- /Search -->
        </div>
    </div>
</section>