{% load static %}
<footer class="footer">

    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="{% static 'img/logo_ghs1.png' %}" style="height: 100%; width: 70%" alt="logo">
                        </div>
                        <div class="footer-about-content" style="margin-top: -15px">
                            <p><b>GLOBAL HEALTH SOLUTION - (GHS)</b>,<br> Votre Solution de Santé à moindre coût <br> pour l'Afrique, conçue par des Africains </p>
                            <div class="social-icon ml-5">
                                <ul>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Espace Patient</h2>
                        <ul style="margin-top: -15px">
                            <li><a href="{% url 'patient:rdv' %}"><i class="fas fa-angle-double-right"></i> RDV</a></li>
                            <li><a href="{% url 'patient:dashboard' %}"><i class="fas fa-angle-double-right"></i> Mon Compte</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Espace Personnel</h2>
                        <ul style="margin-top: -15px">
                            <li><a href="{% url 'docteurs:rdv_dashboard' %}"><i class="fas fa-angle-double-right"></i> Liste RDV</a></li>
                            <li><a href="{% url 'docteurs:patient_dashboard' %}"><i class="fas fa-angle-double-right"></i> Liste Patients</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Contacts</h2>
                        <div class="footer-contact-info" style="margin-top: -15px">
                            <div class="footer-address">
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                <p> 3556  Rouen, France </p>
                            </div>
                            <p>
                                <i class="fas fa-phone-alt"></i>
                                +1 315 369 5943
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-envelope"></i>
                                gsh-sante@gmail.com
                            </p>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>

            </div>
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">

            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 offset-3">
                        <div class="copyright-text text-center" style="color: #fff; font-weight: bold">
                            <p class="mb-0"><a href="http://127.0.0.1:8000/">
                                &copy;Copyright GHS-SANTE - {% now 'd/m/Y' %}
                            </a></p>
                        </div>
                    </div>
{#                    <div class="col-md-6 col-lg-6">#}
{#                        <!-- Copyright Menu -->#}
{#                        <div class="copyright-menu">#}
{#                            <ul class="policy-menu">#}
{#                                <li><a href="term-condition.html">Terms and Conditions</a></li>#}
{#                                <li><a href="privacy-policy.html">Policy</a></li>#}
{#                            </ul>#}
{#                        </div>#}
                        <!-- /Copyright Menu -->

                    </div>
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </div>
    <!-- /Footer Bottom -->

</footer>