{% extends 'auth/base.html' %}

{% block content %}


<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Réinitialisation du mot de passe envoyée</h3>

            <p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'adresse e-mail que vous avez saisie.
                saisie. Vous devriez les recevoir sous peu.</p>
            <br>
            <p>Si vous ne recevez pas d'e-mail, vérifiez que vous avez bien entré l'adresse avec laquelle vous vous êtes inscrit, et vérifiez
                votre dossier spam.</p>
        </div>
    </div>
</main>

{% endblock content %}