{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="fr">
	
<!-- doccure/checkout.html  30 Nov 2019 04:12:16 GMT -->
<head>
		<meta charset="utf-8">
		<title>Paiement | GHS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        {% include  'css.html' %}
		<!-- Favicons -->
{#		<link href="assets/img/favicon.png" rel="icon">#}
		
{#		<!-- Bootstrap CSS -->#}
{#		<link rel="stylesheet" href="assets/css/bootstrap.min.css">#}
{#		#}
{#		<!-- Fontawesome CSS -->#}
{#		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">#}
{#		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">#}
{#		#}
{#		<!-- Main CSS -->#}
{#		<link rel="stylesheet" href="assets/css/style.css">#}
{#		#}
{#		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
{#		<!--[if lt IE 9]>#}
{#			<script src="assets/js/html5shiv.min.js"></script>#}
{#			<script src="assets/js/respond.min.js"></script>#}
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			    {% include '_partials/header.html' %}
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'patient:abonnement' %}">Abonnement</a></li>
									<li class="breadcrumb-item active" aria-current="page">Paiement</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Paiement</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container">

					<div class="row">
                        <div class="col-md-5 col-lg-4 theiaStickySidebar">

							<!-- Booking Summary -->
							<div class="card booking-card">
								<div class="card-header">
									<h4 class="card-title">Détails Formule</h4>
								</div>
								<div class="card-body">

									<!-- Booking Doctor Info -->
									<div class="booking-doc-info">
{#										<a href="doctor-profile.html" class="booking-doc-img">#}
{#											<img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">#}
{#										</a>#}
										<div class="booking-info">
											<h4><a href="#">{{ abonnement.libelle }}</a></h4>
										</div>
									</div>
									<!-- Booking Doctor Info -->

									<div class="booking-summary">
										<div class="booking-item-wrap">
{#											<ul class="booking-date">#}
{#												<li>Date <span>16 Nov 2019</span></li>#}
{#												<li>Time <span>10:00 AM</span></li>#}
{#											</ul>#}
											<ul class="booking-fee">
												<li>Nbre Consultation <span>{{ abonnement.consultation }}</span></li>
											</ul>
											<div class="booking-total">
												<ul class="booking-total-list">
													<li>
														<span>Total</span>
														<span class="total-cost">{{abonnement.prix}} FCFA / Année</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Booking Summary -->

						</div>
						<div class="col-md-7 col-lg-8">
							<div class="card">
								<div class="card-body">
								
									<!-- Checkout Form -->
									<form method="post" action="{% url 'patient:checkout_session' abonnement.id %}">
                                        {% csrf_token %}
										<div class="payment-widget">
											<h4 class="card-title">Paiement</h4>

											<!-- Credit Card Payment -->
											<div class="payment-list">
												<label class="payment-radio credit-card-option">
													<input type="radio" name="radio" checked>
													<span class="checkmark"></span>
													Payer par Carte Bancaire (CB)
												</label>
{#												<div class="row">#}
{#													<div class="col-md-6">#}
{#														<div class="form-group card-label">#}
{#															<label for="card_name">Nom et Prénoms</label>#}
{#															<input class="form-control" id="card_name" type="text">#}
{#														</div>#}
{#													</div>#}
{#													<div class="col-md-6">#}
{#														<div class="form-group card-label">#}
{#															<label for="card_number">Numéro Carte</label>#}
{#															<input class="form-control" id="card_number" placeholder="1234  5678  9876  5432" type="text">#}
{#														</div>#}
{#													</div>#}
{#													<div class="col-md-4">#}
{#														<div class="form-group card-label">#}
{#															<label for="expiry_month">Mois</label>#}
{#															<input class="form-control" id="expiry_month" placeholder="MM" type="text">#}
{#														</div>#}
{#													</div>#}
{#													<div class="col-md-4">#}
{#														<div class="form-group card-label">#}
{#															<label for="expiry_year">Année</label>#}
{#															<input class="form-control" id="expiry_year" placeholder="YY" type="text">#}
{#														</div>#}
{#													</div>#}
{#													<div class="col-md-4">#}
{#														<div class="form-group card-label">#}
{#															<label for="cvv">CVV</label>#}
{#															<input class="form-control" id="cvv" type="text">#}
{#														</div>#}
{#													</div>#}
{#												</div>#}
											</div>
											<!-- /Credit Card Payment -->

                                            <!-- Credit Card Payment -->
											<div class="payment-list">
												<label class="payment-radio credit-card-option">
													<input type="radio" name="radio">
													<span class="checkmark"></span>
													Paiement Mobile Money (MO)
												</label>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group card-label">
															<label for="mobile">Numéro Mobile Money</label>
															<input class="form-control" id="mobile" placeholder="+225 xx xx xx xx xx" type="text">
														</div>
													</div>
												</div>
											</div>
											<!-- /Credit Card Payment -->
											
											<!-- Paypal Payment -->
											<div class="payment-list">
												<label class="payment-radio credit-card-option">
													<input type="radio" name="radio">
													<span class="checkmark"></span>
                                                    Paiement En Espèce
												</label>
											</div>

											<!-- Submit Section -->
											<div class="mt-4">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <button type="submit" class="btn btn-primary">Valider le Paiement</button>
                                                        </div>
                                                        <div class="col-sm-6 text-right">
                                                            <button type="reset" class="btn btn-danger">Annuler</button>
                                                        </div>
                                                    </div>
											</div>
											<!-- /Submit Section -->
											
										</div>
									</form>
									<!-- /Checkout Form -->
									
								</div>
							</div>
							
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
		</div>
		<!-- /Main Wrapper -->
		{% include 'js.html' %}
{#        <script>#}
{#            $(document).ready(function() {#}
{#              alert('hello World !')#}
{#            });#}
{#        </script>#}
		
	</body>

<!-- doccure/checkout.html  30 Nov 2019 04:12:16 GMT -->
</html>