{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block title %}
    Rendez-Vous
{% endblock %}
{% block content %}
<!-- Main Wrapper -->
    <div class="main-wrapper">
    <!-- Breadcrumb -->
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ instance.code }}</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">RDV - {{ instance.code }}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Content -->
    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h1 class="title">DETAILS RDV </h1>
                                        <p><span class="fa fa-calendar"></span> : {{ instance.date_rdv }}, à <span class="fa fa-clock-o"></span> {{ instance.heure_rdv }}</p>
                                        <a href="#" class="btn btn-success">Modifier</a>
                                        <a href="#" class="btn btn-danger">Annuler</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <h1 class="title">SYMPTOMES</h1>
                                        SYMPTOMES : <button type="button" class="btn btn-danger">{{ instance.get_symptomes }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /Page Content -->
</div>

<script>
  $(function () {
    $("#heure").datetimepicker({
      format: 'H:i',
    });
    $("#date_rdv").datetimepicker({
      format: 'd/m/Y',
    });
    $("#date").datetimepicker({
      format: 'd/m/Y',
    });
  });
</script>
<script>
    $(document).ready(function(){
      var date=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        dateFormat: 'yy-mm-dd',
      };
      date.datepicker(options);
    })
</script>
<!-- /Main Wrapper -->
{% endblock %}