{% load static %}
{% load widget_tweaks %}
{#{% load bootstrap4 %}#}
{# Load CSS and JavaScript #}
{#{% bootstrap_css %}#}
{#{% bootstrap_javascript %}#}
{#{% bootstrap_messages %}#}

<!DOCTYPE html>
<html lang="fr">

<!-- doccure/calendar.html  30 Nov 2019 04:12:18 GMT -->
<head>
		<meta charset="utf-8">
		<title>Abonnement | GHS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        {% include  'css.html' %}
{#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css">#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">

			<!-- Header -->
			{% include '_partials/header.html' %}
			<!-- /Header -->

			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<nav aria-label="breadcrumb" class="page-breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active" aria-current="page">Choisir une Formule d'abonnement</li>
                                </ol>
                            </nav>
                            <h2 class="breadcrumb-title">Formule D'abonnement</h2>
						</div>
{#						<div class="col-auto text-right float-right ml-auto">#}
{#							<a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_event">Prendre RDV</a>#}
{#						</div>#}
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->

			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid" style="transform: none">
                  <div class="row" style="transform: none">
                     <div class="col-md-12">
                        <h1 class="text-info text-center" style="font-weight: bold; letter-spacing: 3px; text-decoration: underline;">NOS FORMULES D'ABONNEMENT</h1>
                         <div class="row row-grid">
                             {% for abonement in abbonements %}
                                <div class="col-md-4">
                                    <figure class="card shadow mx-auto" style="max-width: 700px; margin-top: 25px">
                                        <div class="p-3 p-md-5">
                                        <header class="mb-4 text-center">
                                             <h4 class="title" style="letter-spacing: 2.5px">{{ abonement.libelle }}</h4>
{#                                            <p class="text-danger" style="font-size: 14px"><b>{{ abonement.consultation }} Consultations</b></p>#}
                                        </header>
                                        <p class="text-white-50"></p>
                                        <div class="row text-muted mb-3 text-center">
                                            <p class="text-muted">{{ abonement.details }}</p>
                                        </div>
                                        <p class="text-center my-3">
                                            <b>{{ abonement.prix }} F cfa</b>
                                        </p>
{#                                        <p>{{ abonement.details }}</p>#}
                                        <p class="text-center">
                                            {% if request.user.is_authenticated %}
                                                <a href="{% url 'patient:paiement' abonement.id %}" class="btn btn-success btn-lg text-uppercase">
                                                    <i class="far fa-money"></i> S'Abonner
                                                </a>
                                            {% else %}
                                                <a href="{% url 'connexion' %}" class="btn btn-success btn-lg text-uppercase">
                                                    <i class="far fa-money"></i> Connexion
                                                </a>
                                            {% endif %} 
                                        </p>
                                    </div>
                                    </figure>
                                </div>
                             {% endfor %}
                         </div>
                     </div>
                  </div>
              </div>
			</div>
			<!-- /Page Content -->

			<!-- Footer -->
{#			{% include '_partials/footer.html' %}#}
			<!-- /Footer -->

		</div>
		<!-- /Main Wrapper -->

        {% include 'js.html' %}
           <div class="modal fade custom-modal" id="#">
               <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Payer Abonnement</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-sm-8 offset-2">
                                <div class="form-group">
                                    <label class="">Payer Abonnement</label>
                                    <h4 class="text-info text-center" style="font-weight: bold; letter-spacing: 3px">Payer Abonnement </h4>
        {#                                    <h1 class="text-info text-center" style="font-weight: bold; letter-spacing: 3px">Payer</h1>#}
        {#                                    {% render_field paymentForm.abonnement class="form-control" placeholder="Abonnement" %}#}
                                </div>
                                <div class="text-center">
                                    <a href="#" class="btn btn-outline-success btn-lg shadow-sm text-uppercase"> Mobile Money  </a>
                                     <br><br>
                                    <a href="#" class="btn btn-outline-success btn-lg shadow-sm text-uppercase"> Paypal  </a>
                                     <br><br>
                                    <a href="#" class="btn btn-outline-success btn-lg shadow-sm text-uppercase"> Strip  </a>
                                </div>
                                 <hr />
                                 <p class="text-center text-muted"><i class="fa fa-lock"></i> Paiement Sécurisé  &nbsp; <img height="16" src="{% static 'img/payments.png' %}"></p>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
{#           <div class="modal fade custom-modal" id="payement">#}
{#                <div class="modal-dialog modal-dialog-centered">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header">#}
{#                            <h5 class="modal-title">PAIEMENT</h5>#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                <span aria-hidden="true">&times;</span>#}
{#                            </button>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            {% for abbonement in abbonements %}#}
{#                                {% if abbonement.libelle == 'FORMULE 1' %}#}
{#                                    <ul class="info-details">#}
{#                                        <li>#}
{#                                            <div class="details-header">#}
{#                                                <div class="row">#}
{#                                                    <div class="col-md-6">#}
{#                                                        <span class="title">Abonnement GHS  - FORMULE 1</span>#}
{#                                                        <span class="text">MONTANT A REGLER - 7500F CFA</span>#}
{#                                                    </div>#}
{#                                                    <div class="col-md-6">#}
{#                                                        <div class="text-right">#}
{#                                                            <button type="button" class="btn bg-success-light btn-sm" id="topup_status">PAYER</button>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#           <div class="modal fade custom-modal" id="payement">#}
{#                <div class="modal-dialog modal-dialog-centered">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header">#}
{#                            <h5 class="modal-title">PAIEMENT</h5>#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                <span aria-hidden="true">&times;</span>#}
{#                            </button>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            {% for abbonement in abbonements %}#}
{#                                {% if abbonement.libelle == 'FORMULE 2' %}#}
{#                                    <ul class="info-details">#}
{#                                        <li>#}
{#                                            <div class="details-header">#}
{#                                                <div class="row">#}
{#                                                    <div class="col-md-6">#}
{#                                                        <span class="title">Abonnement GHS  - FORMULE 2</span>#}
{#                                                        <span class="text">MONTANT A REGLER - 9500F CFA</span>#}
{#                                                    </div>#}
{#                                                    <div class="col-md-6">#}
{#                                                        <div class="text-right">#}
{#                                                            <button type="button" class="btn bg-success-light btn-sm" id="topup_status">PAYER</button>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#           <div class="modal fade custom-modal" id="payement">#}
{#                <div class="modal-dialog modal-dialog-centered">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header">#}
{#                            <h5 class="modal-title">PAIEMENT</h5>#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                <span aria-hidden="true">&times;</span>#}
{#                            </button>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            {% for abbonement in abbonements %}#}
{#                                {% if abbonement.libelle == 'FORMULE 3' %}#}
{#                                    <ul class="info-details">#}
{#                                        <li>#}
{#                                            <div class="details-header">#}
{#                                                <div class="row">#}
{#                                                    <div class="col-md-6">#}
{#                                                        <span class="title">Abonnement GHS  - FORMULE 3</span>#}
{#                                                        <span class="text">MONTANT A REGLER - 20 000F CFA</span>#}
{#                                                    </div>#}
{#                                                    <div class="col-md-6">#}
{#                                                        <div class="text-right">#}
{#                                                            <button type="button" class="btn bg-success-light btn-sm" id="topup_status">PAYER</button>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        {% include 'js.html' %}

{#		<!-- Add Event Modal -->#}
{#		<div id="add_event" class="modal custom-modal fade" role="dialog">#}
{#			<div class="modal-dialog modal-dialog-centered" role="document">#}
{#				<div class="modal-content">#}
{#					<div class="modal-header">#}
{#						<h4 class="modal-title">Choisir ma date de RDV</h4>#}
{#						<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#							<span aria-hidden="true">&times;</span>#}
{#						</button>#}
{#					</div>#}
{#					<div class="modal-body">#}
{#                        <form method="post" enctype="multipart/form-data">#}
{#                            {% csrf_token %}#}
{#                            <div class="form-group">#}
{#                                <label>Date RDV</label>#}
{#                                {% render_field form.date_rdv class="form-control" placeholder="Date RDV" %}#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <label>HEURE RDV</label>#}
{#                                {% render_field form.heure_rdv type="time" class="form-control time ui-timepicker-input" placeholder="Heure RDV" %}#}
{#                            </div>#}
{#                            <div class="payment-widget">#}
{#                                <!-- Terms Accept -->#}
{#                                <!-- Submit Section -->#}
{#                                <div class="submit-section">#}
{#                                    <button class="btn btn-primary submit-btn btn-block">Valider</button>#}
{#                                </div>#}
{#                                <!-- /Submit Section -->#}
{#                            </div>#}
{#                        </form>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#		<!-- /Add Event Modal -->#}
{##}
{#		<!-- Add Event Modal -->#}
{#		<div class="modal custom-modal fade none-border" id="my_event">#}
{#			<div class="modal-dialog modal-dialog-centered">#}
{#				<div class="modal-content">#}
{#					<div class="modal-header">#}
{#						<h4 class="modal-title">Formulaire de RENDEZ-VOUS</h4>#}
{#						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
{#					</div>#}
{#					<div class="modal-body"></div>#}
{#					<div class="modal-footer justify-content-center">#}
{#						<button type="button" class="btn btn-success save-event submit-btn">Create event</button>#}
{#						<button type="button" class="btn btn-danger delete-event submit-btn" data-dismiss="modal">Delete</button>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#		<!-- /Add Event Modal -->#}
{##}
{#		<!-- Add Category Modal -->#}
{#		<div class="modal custom-modal fade" id="add_new_event">#}
{#			<div class="modal-dialog modal-dialog-centered">#}
{#				<div class="modal-content">#}
{#					<div class="modal-header">#}
{#						<h4 class="modal-title">Add Category</h4>#}
{#						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
{#					</div>#}
{#					<div class="modal-body">#}
{#						<form>#}
{#							<div class="form-group">#}
{#								<label>Category Name</label>#}
{#								<input class="form-control form-white" placeholder="Enter name" type="text" name="category-name" />#}
{#							</div>#}
{#							<div class="form-group">#}
{#								<label>Choose Category Color</label>#}
{#								<select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">#}
{#									<option value="success">Success</option>#}
{#									<option value="danger">Danger</option>#}
{#									<option value="info">Info</option>#}
{#									<option value="primary">Primary</option>#}
{#									<option value="warning">Warning</option>#}
{#									<option value="inverse">Inverse</option>#}
{#								</select>#}
{#							</div>#}
{#							<div class="submit-section text-center">#}
{#								<button type="button" class="btn btn-primary save-category submit-btn" data-dismiss="modal">Save</button>#}
{#							</div>#}
{#						</form>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#		<!-- /Add Category Modal -->#}
{#        {% block custom_js %}#}
{#            {% include 'js.html' %}#}
{#            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.js"></script>#}
{#            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
{#            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
{#            <script>#}
{#                $('#id_heure_rdv').timepicker({#}
{#                    'step': 10,#}
                    {#minuteStepping:10,#}
                    {#format: 'hh:mm',#}
{#                    timeFormat: 'HH:mm:ss p',#}
{#                    pickTime: true,#}
{#                    language:'fr',#}
{#                    use24hours: true#}
{#                });#}
                {#$('#id_heure_rdv').timepicker({#}
                {#    'step': function(i) {#}
                {#        return (i%2) ? 15 : 45;#}
                {#    }#}
                {#});#}
{#            </script>#}
{#            <script>#}
{#                  $( function() {#}
{#                    $( "#id_date_rdv" ).datepicker({#}
                        {#dateFormat: 'dd-mm-yy'#}
{#                    });#}
{#                  } );#}
{#            </script>#}
{#        {% endblock %}#}

	</body>

<!-- doccure/calendar.html  30 Nov 2019 04:12:19 GMT -->
</html>